<!-- Header -->
<header class="container-fluid">
    <div class="row">
        <div class="col-md-12">
      <div class="container">
          <div class="row" >
              <div class="col-md-12 text-center">
                  <div class="intro-text">
                      <span class="name">Bine ati venit</span>
                      <hr class="star-lightx">
                      <span class="skills">Dr. Hassan Masri, medic primar ORL.
                          <br />Otorinolaringologie, chirurgie cervico-faciala si estetica faciala</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
 </div>
</header>
